<a href="https://colab.research.google.com/github/MK316/Fall2022/blob/main/Grouping.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Randomization

In [ ]:
import pandas as pd
url = 'https://raw.githubusercontent.com/MK-classroom/F2022/main/grouping.csv'
df = pd.read_csv(url, encoding = "CP949")
df

In [91]:
Grouping = ["G1", "G2", "G3", "G4", "G5", "G6", "G7"]*3

import random
random.shuffle(Grouping)
Grouping

name = df["Name"]
d = {"Group": Grouping, "Members": name}
a = pd.DataFrame(data=d)
result = a.sort_values('Group')
result

   Group Members
20    G1     이미지
15    G1     조은해
3     G1     박성현
9     G2     남윤희
6     G2     강지현
10    G2     서숙영
19    G3     허예진
12    G3     이경민
1     G3     오상현
8     G4     안유정
17    G4     진영인
18    G4     한주은
4     G5     서원주
5     G5     양장욱
0     G5     박선호
11    G6     오수현
13    G6     장소희
14    G6     정아영
7     G7     김지우
2     G7     이용호
16    G7     주가은

In [98]:
result.to_csv("AEL_grouping.csv", encoding="CP949", index=False)